/*
 * Empty Stylesheet file.
 */

VBox{
    -fx-background-color: lightblue;
    -fx-padding: 10;
}

Text.Subject {
    -fx-font-size: 30;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke: gold;
    -fx-stroke-width: 3;
}

